/*
 * Custom Font Declarations
 * 
 * Place your font files in: overrides/app/static/fonts/
 * Then update the font-family name and file paths below.
 * 
 * Import this file in _app-config/index.jsx:
 * import '../../theme/foundations/globalStyles.css'
 */

/* Regular (400) */
@font-face {
    font-family: 'CustomFont';
    src: url('/static/fonts/CustomFont-Regular.woff2') format('woff2'),
         url('/static/fonts/CustomFont-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium (500) */
@font-face {
    font-family: 'CustomFont';
    src: url('/static/fonts/CustomFont-Medium.woff2') format('woff2'),
         url('/static/fonts/CustomFont-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Semi Bold (600) */
@font-face {
    font-family: 'CustomFont';
    src: url('/static/fonts/CustomFont-SemiBold.woff2') format('woff2'),
         url('/static/fonts/CustomFont-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold (700) */
@font-face {
    font-family: 'CustomFont';
    src: url('/static/fonts/CustomFont-Bold.woff2') format('woff2'),
         url('/static/fonts/CustomFont-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

